
/* BODY  */
.body{
    background-color:#18b418;
    font-family: "Source Sans Pro";
}


/* NAV-BAR */

.menu {
    background-color:red;
    list-style: none;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    width: 20%;
}
.menu-item {
    padding: 5px;
    background-color: #004d3c;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #F7FFF7;
}

.menu-item-link{
    margin-top:10px;
}



/* SECTION PRINCIPAL */

.ImgPrincipal
{
    width: 100%;
    height: 20%;
}

.contenedorTituloInicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 25px;

}


.section1Inicio{
    width: 100%;
}



